{{ 'collection-carousel.css' | asset_url | stylesheet_tag }}

{% style %}
  /* .collection-carousel {
    background-color: {{ section.settings.bg_color }};
  } */
  /* .collection-carousel .heading {
    color: {{ section.settings.heading_color }};
  } */

  
{% endstyle %}
<style>
  {% if section.settings.show_on_mobile == false %}
    @media screen and (max-width: 768px){
        #shopify-section-{{ section.id }} {
      display:none;
    }}
  {% endif %}
  {% if section.settings.show_on_desktop == false %}
    @media screen and (min-width: 768px){
    #shopify-section-{{ section.id }} {
      display:none;
    }}
  {% endif %}
  #shopify-section-{{ section.id }} .fp-bg {
       background-image: url('{{ section.settings.parallax_image_mobile | image_url }}');
      background-size: cover;
      background-position: center 80%;
    }
    @media screen and (min-width: 768px) {
    #shopify-section-{{ section.id }} .fp-bg {
       background-image: url('{{ section.settings.parallax_image | image_url }}');
    }
    }
</style>
<div style= "background-color: {{section.settings.bg_color}} "  
  class="collection-carousel{% if section.settings.show_on_mobile == false %} small-hide{% else %} swipe-mobile{% endif %}{% if section.settings.show_on_desktop == false %} medium-hide large-up-hide{% else %} swipe-desktop{% endif %}">
    <div class="page-width-cust">
    {% if section.settings.heading %}
      <div class="h1 heading" style="color:{{ section.settings.heading_color }}">
        {{ section.settings.heading }}
      </div>
    {% endif %}
    <div
      class="flex-box flex-box--1-col flex-box--3-col-tablet flex-box--3-col-desktop"
      style="
        --grid-mobile-horizontal-spacing: 0px;
        --grid-mobile-vertical-spacing: 8px;
        --grid-desktop-vertical-spacing: 0px;
        --grid-desktop-horizontal-spacing: 24px;
      "
    >
      {% for block in section.blocks %}
        <div class="flex-box__item" style="{% if section.settings.carouselCardWidth  %}flex-basis: {{section.settings.carouselCardWidth}}%{% endif %};">
          {% if block.settings.url %}
            <a href="{{ block.settings.url }}">
          {% endif %}
          <div class="image">
            {% render 'responsive-image-cust', class:'media media--portrait_2-3', mobileSrc:, desktopSrc: block.settings.image %}
          </div>
          {% if block.settings.url %}
            </a>
          {% endif %}
          {% if block.settings.url %}
            <a href="{{ block.settings.url }}">
          {% endif %}

         
          <div class="product-title" style="color:{{ section.settings.name_color }}">{{ block.settings.name }}</div>
           <div class="subtitle" style="color:{{ section.settings.name_color }}">{{ block.settings.subname }}</div>
            <div class="price" style="color:{{ section.settings.name_color }}">{{ block.settings.price }}
              {% if block.settings.strikePrice %}
                <span class="strikePrice">{{ block.settings.strikePrice }}</span>
              {% endif %}
            </div>
          
          {% if block.settings.url %}
            </a>
          {% endif %}
        </div>
      {% endfor -%}
    </div>

    {%- if section.settings.button_url != blank and section.settings.button_text != blank %}
      <a href="{{ section.settings.button_url }}">
        <button class="button">
          <span>{{ section.settings.button_text }}</span>
        </button>
      </a>
    {% endif %}

  </div>
</div>

{% schema %}
{
  "name": "Collection carousel",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our Collection"
    },
  
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Colour",
      "default": "#FFF"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Colour",
      "default": "#FFF"
    },
    {
      "type": "color",
      "id": "name_color",
      "label": "Name Colour",
      "default": "#FFF"
    },
    {
      "type": "checkbox",
      "id": "show_on_desktop",
      "default": false,
      "label": "Show on Desktop"
    },
    {
      "type": "checkbox",
      "id": "show_on_mobile",
      "default": true,
      "label": "Show on Mobile"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Url"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Know more"
    },
    {
      "type": "image_picker",
      "id": "parallax_image",
      "label": "Parallax Image"
    },
    {
      "type": "image_picker",
      "id": "parallax_image_mobile",
      "label": "Parallax Image"
    },
    {
      "type": "text",
      "id": "carouselCardWidth",
      "label": "Carousel Width"
    }
  ],
  "blocks":[
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
         
        },
       {
          "type": "text",
          "id": "subname",
          "label": "SubName"
         
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price"
        
        },
        {
          "type": "text",
          "id": "strikePrice",
          "label": "Strike price"
         
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    }
  ],
  "presets":[
    {
      "name": "Collection carousel"
    }
  ]
}
{% endschema %}
