{%- liquid
  assign style = section.settings.style
  assign sticky_header = section.settings.sticky_header
  assign transparent_header = false
  assign logo_height_range = section.settings.logo_height_range
  assign logo_height_range_mobile = section.settings.logo_height_range_mobile
  assign header_shadow = section.settings.header_shadow
  if template == 'index'
    assign transparent_header = section.settings.transparent_header
  endif
-%}

<style>


  .black-variant{
    display:none;
  }
  .white-variant{
  display:flex;
  }
  .virgio-logo{
    {% comment %} position: relative;
    bottom: 5px; {% endcomment %}
    height: 30px;
  }

  @media only screen and (max-width: 768px) {

    #header {
      transition: background-color 0.3s ease;
      display:none;
    }
    #header .header-in{
      padding:0 1rem;
    }
    #header.scrolled .black-variant{
      display:flex
     }
   
     #header.scrolled .white-variant{
       display:none
      } 
   
     #header.scrolled {
      background-color: #ffffff;
      display: block;
      position: relative;
      border-bottom: none;
      padding-bottom: 0;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     }

     #header.transparent {
      background-color: rgba(17, 17, 17, 0.25);
      display:block;
    }
   
  }



  

                 {% comment %} {% if template contains 'product' %}
                     .header{
                       background:#000 !important;
                     }
                  {% endif %} {% endcomment %}
  /* Default styles */
  .mobile-links .normal {
    display: inline-block; /* or 'block', 'inline', or 'inline-block' based on your design */
  }

  .mobile-links .highlight {
    display: none;
  }

  /* Styles when 'active' class is present */
  .mobile-links a.active .normal {
    display: none;
  }

  .mobile-links a.active .highlight {
    display: inline-block; /* or any other display value you want when 'active' */
  }


             .m-header span{
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 0.625rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1rem;
            letter-spacing: 0.0125rem;
            text-transform: capitalize;
            opacity: 0.8;
            }
           .m-header a .normal{
            opacity: 0.8;
          }
            .m-header a.active span{
            font-weight:500;
            opacity: 1
          }

               {% comment %} .customPDPheader{
                 display:flex;
                 justify-content: space-between;
                 background-color:#FFF;
                 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
               } {% endcomment %}

          .hide-mobile{
                     display:none;
                   }

                 @media only screen and (min-width: 768px) {
                  .customPDPheader{
                  display:none
                }
                   .hide-mobile{
                     display:block;
                   }
              }

                .customPDPheader .logo{
                 display: flex;
               align-items: center;
               justify-content: center;
               }

            .customPDPheader .search-container{
             display: flex;
               align-items: center;
               justify-content: end;
              margin-right:0.75rem;
              }
               .customPDPheader .search-container .search{
             margin-right:0.9rem;}
               .customPDPheader .search-container div{
             display: flex;
              }
             .customPDPheader .search-cart-bag-count{
            position: absolute;
            top: -3.2px;
            right: -2.6px;
            color: #FFF;
            width: 0.9rem;
            height: 0.9rem;
            background: #E1595A;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 1rem;
            font-size: 0.5rem;
              }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
  var innerHeightVal = window.innerHeight
    if (window.innerWidth <= 750) {
      var header = document.getElementById('header');
      var lastScrollPosition = 0;
      window.addEventListener('scroll', function() {
        let currentScroll = window.pageYOffset || document.documentElement.scrollTop;      
        if (currentScroll > lastScrollPosition && currentScroll > innerHeightVal) {
          header.style.transform = 'translateY(-100%)';
        } else {
          header.style.transform = 'translateY(0)';
        }
        lastScrollPosition = currentScroll <= 0 ? 0 : currentScroll; // For mobile or negative scrolling
      }, false);
      {% if template contains 'index' %}
        window.addEventListener('scroll', function() {
          var currentScrollPosition = window.pageYOffset;
          if (currentScrollPosition > 50) {
            header.classList.add('scrolled');
            header.classList.remove('transparent');
          } else {
            header.classList.remove('scrolled');
            header.classList.add('transparent');
          }
        });
      {% else  %}
      header.classList.add('scrolled');
      {% endif %}
      var mobileLinks = document.getElementsByClassName('mobile-links');
      var mobileLinksArrayConverted = [].slice.call(mobileLinks);
      var index = mobileLinksArrayConverted.findIndex(function (link) {
        let arraySplit = window.location.pathname.split('/');
        let urlpath = arraySplit[arraySplit.length - 1];
        return link.dataset.linkUrl.indexOf(urlpath) > -1;
      });
      if (index > -1) {
        var parentElement = mobileLinks[index];
        var imgElement = parentElement.querySelector('.hide-logo');
        if (imgElement) {
          imgElement.classList.remove('hide-logo');
        }
      }
      const backElem = document.getElementById('back_btn');
      const liquidTemplate = {{ template|json }}
  
      if (backElem) {
        backElem.addEventListener('click', (e) => {
          if (document.referrer == '' && (liquidTemplate == 'product' || liquidTemplate == 'product.coords') || document.documentElement.classList.contains('in-app-browser')|| navigator.userAgent.match(/FBAN|FBAV/i)) {
            window.location.href = "/"
          } else {
            history.back();
          }
        });
      }
    }  
    else{

      let lastScrollTop = 0;
const header = document.getElementById('header');

window.addEventListener('scroll', function() {
  let currentScroll = window.pageYOffset || document.documentElement.scrollTop;
  console.log("currentScroll",currentScroll)

  if (currentScroll > lastScrollTop && currentScroll > innerHeightVal) {
    // Scroll down and past 400px
    header.style.display = "none"
  } else {
    // Scroll up or not past 400px
    header.style.display = "block"
  }

  lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // For mobile or negative scrolling
}, false);


  }
  });
  
</script>

{% comment %} {{ template|json }} {% endcomment %}
{% comment %} {% if template contains 'index' or template contains 'list-collections' or template contains 'collection' %} {% endcomment %}
  <header
    id="header"
    class="header transparent--true style1 header--shadow-none transparent--false header-sticky--active"
  >
    <div class="row expanded header-in">
      <div class="small-12 columns" style="display: flex; justify-content: space-between; padding: 0;">

        {% unless template contains 'index' or template contains 'page.circularity' or template contains 'list-collections' or template contains 'customers' %}
        <a class="right-arrow-button customPDPheader" id="back_btn">
          <div class="black-variant">  {% render 'back-icon-pdp' %}</div>
          <div class="white-variant">  {% render 'back-icon-white-pdp' %}</div>
        </a>
        {% endunless %}
        <a href="/">
       <div class="white-variant virgio-logo"> {% render 'svg-icons' with 'virgio-logo' %}</div>
       <div class="black-variant virgio-logo"> {% render 'svg-icons' with 'virgio-logo-dark' %}</div>
       </a>
      {% render 'header-full-menu', menu: section.settings.menu, blocks: section.blocks %}
     {% render 'header-secondary-area', header_settings: section.settings %}
        {% comment %} {%- case style -%}
          {%- when 'style1' -%}
            {% render 'header-style1', blocks: section.blocks, header_settings: section.settings %}
          {%- when 'style2' -%}
            {% render 'header-style2', blocks: section.blocks, header_settings: section.settings %}
          {%- when 'style3' -%}
            {% render 'header-style3', blocks: section.blocks, header_settings: section.settings %}
          {%- when 'style4' -%}
            {% render 'header-style4', blocks: section.blocks, header_settings: section.settings %}
        {%- endcase -%} {% endcomment %}
      </div>
    </div>
    {%- style -%}
      :root {
        --logo-height: {{ logo_height_range | append: 'px' }};
        --logo-height-mobile: {{ logo_height_range_mobile | append: 'px' }};
      }
      {% unless sticky_header %}
      .header-section {
        position: static !important;
      }
      {%- endunless -%}
    {%- endstyle -%}
  </header>

{% comment %} {% elsif template contains 'product' or template contains 'product.coords' %}
  <header
    id="header"
    class="pdp_header header  {% if template == 'index' %} transparent--true {% endif %} {{ style }} {{ header_shadow }} transparent--{{ transparent_header }} {% if sticky_header %}header-sticky--active{%- endif %} small-hide"
  >
    <div class="row expanded">
      <div class="small-12 columns">
        {%- case style -%}
          {%- when 'style1' -%}
            {% render 'header-style1', blocks: section.blocks, header_settings: section.settings %}
          {%- when 'style2' -%}
            {% render 'header-style2', blocks: section.blocks, header_settings: section.settings %}
          {%- when 'style3' -%}
            {% render 'header-style3', blocks: section.blocks, header_settings: section.settings %}
          {%- when 'style4' -%}
            {% render 'header-style4', blocks: section.blocks, header_settings: section.settings %}
        {%- endcase -%}
      </div>
    </div>
    {%- style -%}
      :root {
        --logo-height: {{ logo_height_range | append: 'px' }};
        --logo-height-mobile: {{ logo_height_range_mobile | append: 'px' }};
      }
      {% unless sticky_header %}
      .header-section {
        position: static !important;
      }
      {%- endunless -%}
    {%- endstyle -%}
  </header>
  <div class="customPDPheader thb-secondary-area">
    <a class="right-arrow-button customPDPheaderEqual" id="back_btn">
      {% render 'back-icon-pdp' %}
    </a>
    <a href="/" class="customPDPheaderEqual logo">
      <img
        src="https://cdn.shopify.com/s/files/1/0785/1674/8585/files/pdp-virgio-logo.svg?v=1708433812"
        alt="virgio logo"
      >
    </a>
    <div class="customPDPheaderEqual search-container">
      <a
        class="thb-quick-search"
        href="{{ routes.search_url }}"
        title="{{ 'sections.header.search' | t }}"
      >
        <div class="search">{%- render 'svg-icons' with 'search-pdp' -%}</div>
      </a>
      <a class="" href="{{ routes.cart_url }}" id="cart-drawer-toggl">
        <div class="thb-secondary-item-icon">
          {% render 'svg-icons' with 'search-cart-bag' %}
          <span class="search-cart-bag-count thb-item-count {% if cart != empty %} emptycart {% endif %}">
            {%- if cart.item_count > 99 -%}
              {%- render 'svg-icons' with 'thb-asterisk' -%}
            {%- else -%}
              <span class="cart-count" aria-hidden="true" id="demo">{{ cart.item_count }}</span>
            {%- endif -%}
          </span>
        </div>
      </a>
    </div>
  </div>
{%- else -%}
  <header
    class="header transparent--true style1 header--shadow-none transparent--false header-sticky--active hide-mobile"
  >
    <div class="row expanded">
      <div class="small-12 columns" style="display:flex;">
        {%- case style -%}
          {%- when 'style1' -%}
            {% render 'header-style1', blocks: section.blocks, header_settings: section.settings %}
          {%- when 'style2' -%}
            {% render 'header-style2', blocks: section.blocks, header_settings: section.settings %}
          {%- when 'style3' -%}
            {% render 'header-style3', blocks: section.blocks, header_settings: section.settings %}
          {%- when 'style4' -%}
            {% render 'header-style4', blocks: section.blocks, header_settings: section.settings %}
        {%- endcase -%}
      </div>
    </div>
    {%- style -%}
      :root {
        --logo-height: {{ logo_height_range | append: 'px' }};
        --logo-height-mobile: {{ logo_height_range_mobile | append: 'px' }};
      }
      {% unless sticky_header %}
      .header-section {
        position: static !important;
      }
      {%- endunless -%}
    {%- endstyle -%}
  </header>
  <div class="thb-secondary-area mobile">
    {% if template contains 'product' or template contains 'product.coords' %}
      <a class="right-arrow-button" id="back_btn">
        {% render 'home-icon' %}
      </a>
    {% endif %}
    <a class="mobile-search thb-quick-search" href="{{ routes.search_url }}" title="{{ 'sections.header.search' | t }}">
      {%- render 'svg-icons' with 'search' -%}
    </a>
    <a class="thb-secondary-area-item thb-secondary-cart mobile" href="{{ routes.cart_url }}" id="cart-drawer-toggl">
      <div class="thb-secondary-item-icon">
        {% render 'svg-icons' with 'cart' %}
        <span class="thb-item-count {% if cart != empty %} emptycart {% endif %}">
          {%- if cart.item_count > 99 -%}
            {%- render 'svg-icons' with 'thb-asterisk' -%}
          {%- else -%}
            <span class="cart-count" aria-hidden="true" id="demo">{{ cart.item_count }}</span>
          {%- endif -%}
        </span>
      </div>
    </a>
  </div>
{% endif %} {% endcomment %}


<mobile-header class="medium-hide large-up-hide  {% if template == 'product' or template == 'product.coords' or template == 'collection' %}header-hide{% endif %}">
  <div class="m-header">
    <nav>
      <ul class="flex-box flex-box--4-col" style="--grid-mobile-horizontal-spacing: 16px;" id="mobile-header-custom">
        <li class="mobile-links flex-box__item" data-link-url="/">
          <a href="/">
            <div class="highlight">
              {% render 'svg-icons' with 'mobile-nav-home-active' %}
            </div>
            <div class="normal">
              {% render 'svg-icons' with 'mobile-nav-home' %}
            </div>

            <span> Home</span>
          </a>
        </li>
        <li class="mobile-links flex-box__item" data-link-url="/collections">
          <a href="/collections">
            <div class="highlight">
              {% render 'svg-icons' with 'mobile-nav-category-active' %}
            </div>
            <div class="normal">
              {% render 'svg-icons' with 'mobile-nav-category' %}
            </div>

            <span> Categories</span>
          </a>
        </li>
        <li class="mobile-links flex-box__item" data-link-url="/pages/circularity-mweb">
          <a href="/pages/circularity-mweb">
            <div class="highlight">
              {% render 'svg-icons' with 'mobile-nav-circularity-active' %}
            </div>
            <div class="normal">
              {% render 'svg-icons' with 'mobile-nav-circularity' %}
            </div>

            <span> Circularity</span>
          </a>
        </li>
        <li class="mobile-links flex-box__item" data-link-url="https://virgiofashion.myshopify.com/account/login">
          <a href="/account/login">
            <div class="highlight">
              {% render 'svg-icons' with 'mobile-nav-account-active' %}
            </div>
            <div class="normal">
              {% render 'svg-icons' with 'mobile-nav-account' %}
            </div>

            <span> Account</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</mobile-header>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }},
      {{ settings.social_linkedin_link | json }},
      {{ settings.social_wechat_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>
{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}


{% schema %}
{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "sticky_header",
      "label": "Enable sticky header",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image",
      "info": "400 x 68 px .png recommended."
    },
    {
      "type": "range",
      "id": "logo_height_range",
      "min": 20,
      "max": 120,
      "step": 1,
      "unit": "px",
      "label": "Logo height",
      "default": 30
    },
    {
      "type": "range",
      "id": "logo_height_range_mobile",
      "min": 20,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Mobile logo height",
      "default": 30
    },
    {
      "type": "select",
      "id": "style",
      "label": "Desktop logo position",
      "default": "style1",
      "options": [
        {
          "value": "style1",
          "label": "Logo left, menu center"
        },
        {
          "value": "style2",
          "label": "Logo left, menu left"
        },
        {
          "value": "style3",
          "label": "Logo center, menu left"
        },
        {
          "value": "style4",
          "label": "Logo center, menu center"
        }
      ],
      "info": "Position is always center for mobile."
    },
    {
      "type": "select",
      "id": "header_shadow",
      "label": "Sticky header shadow",
      "default": "header--shadow-small",
      "options": [
        {
          "value": "header--shadow-none",
          "label": "None"
        },
        {
          "value": "header--shadow-small",
          "label": "Small"
        },
        {
          "value": "header--shadow-medium",
          "label": "Medium"
        },
        {
          "value": "header--shadow-large",
          "label": "Large"
        }
      ]
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu",
      "info": "Learn how to set up [mega menus](https://documentation.fuelthemes.net/kb/how-do-i-set-up-mega-menus-for-reformation-theme/)."
    },
    {
      "type": "header",
      "content": "Transparent header"
    },
    {
      "type": "checkbox",
      "id": "transparent_header",
      "label": "Enable on homepage",
      "default": true,
      "info": "Ensure that you have a Slideshow, Video background, Image with text overlay section as the first section on your homepage."
    },
    {
      "type": "image_picker",
      "id": "logo_light",
      "label": "Logo image",
      "info": "Displayed when transparent header is enabled. Uses the dimensions set on your main logo."
    },
    {
      "type": "header",
      "content": "Language / country switcher"
    },
    {
      "type": "checkbox",
      "id": "show_language_switcher",
      "label": "Enable language switcher",
      "default": false,
      "info": "To add a language, go to your [language settings](/admin/settings/languages)."
    },
    {
      "type": "checkbox",
      "id": "show_currency_switcher",
      "label": "Enable currency switcher",
      "default": true,
      "info": "To add a country/region, go to your [payment settings](/admin/settings/payments)."
    },
    {
      "type": "header",
      "content": "Mobile menu"
    },
    {
      "type": "link_list",
      "id": "mobile_secondary_menu",
      "label": "Secondary menu",
      "info": "Secondary menu is shown under the main menu."
    },
    {
      "type": "image_picker",
      "id": "mobile_promo_image",
      "label": "Promotion image",
      "info": "375 x 370 px .jpg recommended."
    },
    {
      "type": "text",
      "id": "mobile_promo_heading",
      "default": "Promotion heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "mobile_promo_link_label",
      "label": "Promotion button label",
      "default": "Shop",
      "info": "Leave the label blank to hide the text button."
    },
    {
      "type": "url",
      "id": "mobile_promo_link",
      "label": "Promotion button link"
    }
  ],
  "blocks": [
    {
      "type": "megamenu",
      "name": "Mega menu",
      "limit": 10,
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Link position in main menu",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "Item 1"
            },
            {
              "value": "2",
              "label": "Item 2"
            },
            {
              "value": "3",
              "label": "Item 3"
            },
            {
              "value": "4",
              "label": "Item 4"
            },
            {
              "value": "5",
              "label": "Item 5"
            },
            {
              "value": "6",
              "label": "Item 6"
            },
            {
              "value": "7",
              "label": "Item 7"
            },
            {
              "value": "8",
              "label": "Item 8"
            },
            {
              "value": "9",
              "label": "Item 9"
            },
            {
              "value": "10",
              "label": "Item 10"
            },
            {
              "value": "11",
              "label": "Item 11"
            },
            {
              "value": "12",
              "label": "Item 12"
            }
          ]
        },
        {
          "type": "header",
          "content": "Promotion 1"
        },
        {
          "type": "image_picker",
          "id": "promo_1_image",
          "label": "Image",
          "info": "360 x 420 px .jpg recommended."
        },
        {
          "type": "text",
          "id": "promo_1_heading",
          "default": "Promotion heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "promo_1_link_label",
          "label": "Button label",
          "default": "Shop",
          "info": "Leave the label blank to hide the text button."
        },
        {
          "type": "url",
          "id": "promo_1_link",
          "label": "Button link"
        },
        {
          "type": "header",
          "content": "Promotion 2"
        },
        {
          "type": "image_picker",
          "id": "promo_2_image",
          "label": "Image",
          "info": "360 x 420 px .jpg recommended."
        },
        {
          "type": "text",
          "id": "promo_2_heading",
          "default": "Promotion heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "promo_2_link_label",
          "label": "Button label",
          "default": "Shop",
          "info": "Leave the label blank to hide the text button."
        },
        {
          "type": "url",
          "id": "promo_2_link",
          "label": "Button link"
        }
      ]
    }
  ]
}
{% endschema %}
