<div class="image-container">
  {% assign image_count = 0 %}
  <div style="background-color:{{ section.settings.bg_color }}">
    {% if section.settings.main_heading != blank %}
      <div class="widget__heading" {% if section.settings.text_color != blank -%} style="color:{{ section.settings.text_color }}"  {% endif %}>
        {{ section.settings.main_heading }}
      </div>
    {% endif %}
    <div class="image-item__image">
      {% for block in section.blocks %}
        {% if block.settings.image != blank and block.settings.button_link != blank %}
          {% assign moduloNum = section.blocks.size | modulo: 2 %}
          <div class="image-item__image_card {% if moduloNum == 1 %} image-item__image_card_three {% endif %}">
            {% if block.settings.button_link != blank -%}
              <a href="{{ block.settings.button_link }}">
                <div>
                  {% render 'responsive-picture',
                    desktopImage: block.settings.image,
                    mobileImage: block.settings.image
                  %}
                </div>
                {% assign image_count = image_count | plus: 1 %}
                <div class="image-text__heading heading-{{ block.id }}"  {% if section.settings.text_color != blank -%} style="color:{{ section.settings.text_color }}"  {% endif %}>
                  {{ block.settings.heading_text }}
                </div>
              </a>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<style>
  @media only screen and (min-width: 769px) {
    .image-container {
      display: none;
    }
  }

  .image-item__image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1rem;
  }

  .image-text__heading {
    color: var(--primary-dark-primary-900111111, #111);
    text-align: center;
    margin: 12px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.24px;
  }

  .widget__heading {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-top: 1rem;
  }

  .image-item__image_card {
    width: 50%;
    padding: 0 0.4rem;
  }

  .image-item__image_card_three {
    width: 33.3%;
  }

  @media only screen and (min-width: 769px) {
    .image-item__image_card {
      width: 33.3%;
      padding: 0 0.4rem;
    }
  }
</style>

{% schema %}
{
  "name": "mobile Widget",
  "class": "homepage-sections",
  "settings": [
    {
      "type": "text",
      "id": "main_heading",
      "label": "Heading For Widget"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Colour"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    }
  ],
  "blocks": [
    {
      "name": "add image",
      "type": "image-item",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image (Mobile)",
          "info": "200px 200px .jpg recommended"
        },
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "mobile Widget"
    }
  ]
}
{% endschema %}
