{{ 'spotted-images.css' | asset_url | stylesheet_tag }}

{% if product.metafields.custom.spotted_images != blank %}
  <div class="spotted_images-container">
    <div class="spotted_image-cards">
      {%- if section.settings.heading != blank -%}
        <div class="text_container">
          {{ section.settings.heading }}
        </div>
      {%- endif -%}
      {%- if section.settings.sub_heading != blank -%}
        <h2 class="h3">
          {{ section.settings.sub_heading }}
        </h2>
      {%- endif -%}
    </div>
    <div class="spotted_images">
      {% assign sizeChartData = product.metafields.custom.spotted_images.value %}
      {% for chart in sizeChartData %}
        <div class="image-container">
          <a href="{{chart.imageLink }}">
            <img src="{{ chart.imageUrl }}" alt="image" class="image">
            <p class="title">{{ chart.handle }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Spotted images",
  "settings": [
       {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 20
    },
   {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "ACADEMY"
    }, {
      "type": "text",
      "id": "sub_heading",
      "label": "Subheading"
    }
  ],
  "presets": [
    {
      "name": "Spotted images"
    }
  ]
}
{% endschema %}
