{{ 'social-images-collections.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-{{ section.id }} .fp-bg {
       background-image: url('{{ section.settings.parallax_image_mobile | image_url }}');
      background-size: cover;
      background-position: center 80%;
    }
    @media screen and (min-width: 768px) {
    #shopify-section-{{ section.id }} .fp-bg {
       background-image: url('{{ section.settings.parallax_image | image_url }}');
    }
    }
</style>
<div style="background-color: {{section.settings.bg_color}}">
  <div class="social-images-collections{% if section.settings.show_on_mobile == false %} small-hide{% else %} swipe-mobile{% endif %}{% if section.settings.show_on_desktop == false %} medium-hide {% else %} swipe-desktop{% endif %}">
    <div class="section-spacing-padding {% if section.settings.disable_top_spacing %} section-spacing--disable-top {% endif %} {% if section.settings.disable_bottom_spacing %} section-spacing--disable-bottom {% endif %}">
      <div class="top-text text-center">
        {% if section.settings.para_top %}
          <p>{{ section.settings.para_top }}</p>
        {% endif %}
      </div>
      <div class="top-heading text-center">
        {% if section.settings.heading_top %}
          <h3>{{ section.settings.heading_top }}</h3>
        {% endif %}
      </div>
      <div style="width: 100%">
        <div
          class="images flex-box flex-box--1-col flex-box--{{ section.settings.colmun_number_tablet }}-col-tablet flex-box--{{ section.settings.colmun_number_desktop }}-col-desktop"
          style="
            --grid-mobile-horizontal-spacing: 0px;
            --grid-mobile-vertical-spacing: 0px;
          "
        >
          {% for block in section.blocks %}
            <div class="flex-box__item">
              <div>
                {% if block.settings.social_url %}
                  <a href="{{ block.settings.social_url }}" class="banner-link white">
                {% endif %}
                <div class="image-container">
                  <div>
                    {% if block.settings.image %}
                      {% render 'responsive-image-cust',class: 'media media--portrait_3-4', mobileSrc:, desktopSrc:  block.settings.image %}
                    {% else %}
                      <div class="media media--portrait">
                        {{ 'collection-3' | placeholder_svg_tag }}
                      </div>
                    {% endif %}
                  </div>
                  {% if block.settings.social_id %}
                    <p class="social-id text-center">{{ block.settings.social_id }}</p>
                  {% endif %}
                </div>
                {% if block.settings.social_url %}
                  </a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        {% comment %}
          <div class="bottom-text">
            <div class="text-center">
              {% if section.settings.para_bottom %}
                <p>{{ section.settings.para_bottom }}</p>
              {% endif %}
              {% if settings.social_instagram_link %}
                <a href="{{ settings.social_instagram_link }}">
                  <button class="button black outline">
                    {% if section.settings.show_svg %}
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="invert"
                      >
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3341 2.75012H7.6651C4.6441 2.75012 2.7501 4.88912 2.7501 7.91612V16.0841C2.7501 19.1111 4.6351 21.2501 7.6651 21.2501H16.3331C19.3641 21.2501 21.2501 19.1111 21.2501 16.0841V7.91612C21.2501 4.88912 19.3641 2.75012 16.3341 2.75012Z" stroke="#111111" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.9947 16.0001V12.0001" stroke="#111111" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.9899 8.20435H11.9999" stroke="#111111" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    {% endif %}
                    <span>{{ section.settings.button_text }}</span>
                  </button>
                </a>
              {% endif %}
            </div>
          </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Social Image Collection",
  "settings": [
    {
      "type": "text",
      "id": "para_top",
      "label": "Top Paragraph",
      "default": "Enter sub text"
    },
    {
      "type": "text",
      "id": "heading_top",
      "label": "Top Heading",
      "default": "Enter heading text"
    },
      {
      "type": "color",
      "id": "bg_color",
      "label": "Background Colour",
      "default": "#FFF"
    },
    {
      "type": "select",
      "id": "colmun_number_tablet",
     "options": [

        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "3",
      "label": "No. of Columns in Tablet"
    },
    {
      "type": "select",
      "id": "colmun_number_desktop",
     "options": [
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ],
      "default": "6",
      "label": "No. of Columns in Desktop"
    },
    {
      "type": "text",
      "id": "para_bottom",
      "label": "Bottom Paragraph",
      "default": "Enter sub text"
    },
    {
      "type": "checkbox",
      "id": "show_svg",
      "label": "Add SVG to Button",
      "default": true
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Follow"
    },
    {
      "type": "checkbox",
      "id": "show_on_desktop",
      "default": true,
      "label": "Show on Desktop"
    },
    {
      "type": "checkbox",
      "id": "show_on_mobile",
      "default": true,
      "label": "Show on Mobile"
    },
    {
      "type": "checkbox",
      "id": "disable_top_spacing",
      "default": false,
      "label": "Remove top spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_bottom_spacing",
      "default": false,
      "label": "Remove bottom spacing"
    },
    {
      "type": "image_picker",
      "id": "parallax_image",
      "label": "Parallax Image"
    },
    {
      "type": "image_picker",
      "id": "parallax_image_mobile",
      "label": "Parallax Image"
    }
  ],
  "blocks": [
    {
      "type": "social_image",
      "name": "Socila Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "social_id",
          "label": "Social ID",
          "default": "@social_id"
        },
        {
          "type": "url",
          "id": "social_url",
          "label": "Social Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Social Image Collection",
    "blocks":[
      {
      "type": "social_image"
      },
      {
      "type": "social_image"
      },
      {
      "type": "social_image"
      },
      {
      "type": "social_image"
      },
      {
      "type": "social_image"
      },
      {
      "type": "social_image"
      },
      {
      "type": "social_image"
      },
      {
      "type": "social_image"
      },
      {
      "type": "social_image"
      },
      {
      "type": "social_image"
      },
      {
      "type": "social_image"
      },
      {
      "type": "social_image"
      }
    ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
